<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li>API available at <a href=<%= apiServer %>><%= apiServer %></a></li>
      <li>API documentation available at <a href=<%= docsServer %>><%= docsServer %></a></li>
    </ul>
  </body>
</html>
